.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
.mostview{
    padding-top: 50px;
}

.item{
    margin-left: 55px;
}
.card{
    width: 350px;
}