{{#section 'js'}}
    <script>
        $('#submitadd').click(function () {
            if ($('#inputUsername').val().trim() == '') {
                alert("Empty for username")
                return false;
            } else if ($('#inputEmail').val().trim() == '') {
                alert("Empty for email")
                return false;
            }
            if($('#inputNewPassword').val().trim() != '' && $('#inputOldPassword').val().trim() == ''){
                alert("Empty for old password")
                return false;
            } else if ($('#inputNewPassword').val().trim() == '' && $('#inputOldPassword').val().trim() != ''){
                alert("Empty for new password")
                return false;
            }
        });
    </script>
{{/section}}



<div class="card mb-4">
    <div class="card-header">Account Details</div>
    <div class="card-body">
        <form method="post">
            <!-- Form Group (username)-->
            <div class="mb-3">
                <label class="small mb-1" for="inputUsername">Username</label>
                <input class="form-control" name="username" id="inputUsername" type="text" placeholder="Enter your username" value="{{authUser.username}}">
            </div>
            <!-- Form Group (email address)-->
            <div class="mb-3">
                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                <input class="form-control" name="email" id="inputEmail" type="email" placeholder="Enter your email address" value="{{authUser.email}}">
            </div>
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
                <!-- Form Group (new password)-->
                <div class="col-md-6">
                    <label class="small mb-1" for="inputNewPassword">New password</label>
                    <input class="form-control" name="NewPassword" id="inputNewPassword" type="password">
                </div>
                <!-- Form Group (old password)-->
                <div class="col-md-6">
                    <label class="small mb-1" for="inputOldPassword">Old password</label>
                    <input class="form-control"  id="inputOldPassword" type="password" name="OldPassword">
                </div>
            </div>
            <!-- Save changes button-->
            <button class="btn btn-primary" id="submitadd" type="submit">Save changes</button>
            <div style="text-align: center; color: red " >
                {{this.message}}
            </div>
        </form>
    </div>
</div>